.loginForm{
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 10px 10px 10px 10px #bfbcbc;
    border-radius: 10px;
    height: inherit;
    width: auto;
    background-color: #ffffff;
}
.formGroup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.formGroup input{
    border-radius: 5px;
    height: 1.5rem;
    padding: 0.3rem;
    /* margin: 4px; */
    margin-bottom: 10px;
    border-style:solid;
    /* justify-self: center; */
}
.button{
    border-radius: 7px;
    font-size:medium;
    color: white;
    /* height: 2rem; */
    padding: 10px;
}
.primary{
    background-color:#166fe5;
    border-style: hidden;
    border-color: #166fe5;
}
.success{
    background-color: #36a420;
    border-style: hidden;
    border-color: #36a420;
}